@page
@model MyApp.Areas.Applicant.Pages.Payment.AxaipayCallbackModel
@{
    Layout = "Layouts/_PublicLayout";
    ViewData["Title"] = "Payment Processing";
}
<div class="center-align py-5">
    <p>Payment processing. Please wait...</p>
</div>
