@page
@model MyApp.Areas.Applicant.Pages.Payment.SelectModel
@{
    Layout = "Layouts/_PublicLayout";
    ViewData["Title"] = "Redirecting...";
}
<div class="center-align py-5">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left"><div class="circle"></div></div>
            <div class="gap-patch"><div class="circle"></div></div>
            <div class="circle-clipper right"><div class="circle"></div></div>
        </div>
    </div>
    <p class="mt-4 grey-text">Redirecting to payment...</p>
</div>
