<footer class="applicant-footer">
    <div class="container center-align">
        <p class="grey-text text-darken-1 small">
            &copy; @DateTime.Now.Year Persatuan Usahawan Maju Malaysia (PUMM). All rights reserved.
        </p>
    </div>
</footer>
