@page
@model MyApp.Areas.Applicant.Pages.Account.ForgotPasswordModel
@{
    Layout = "Layouts/_PublicLayout";
    ViewData["Title"] = await T.GetAsync("ForgotPassword.Title");
}

<div class="card applicant-card">
    <div class="card-content">
        <span class="card-title">@await T.GetAsync("ForgotPassword.Title")</span>

        @if (Model.EmailSent)
        {
            <div class="card-panel green lighten-4">
                <p>@await T.GetAsync("ForgotPassword.SuccessMessage")</p>
            </div>
        }
        else
        {
            @if (!string.IsNullOrEmpty(Model.AlertMessageContent))
            {
                <div class="card-panel red lighten-4"><span>@Model.AlertMessageContent</span></div>
            }

            <p class="grey-text">@await T.GetAsync("ForgotPassword.Instructions")</p>

            <form method="post" asp-page-handler="SendLink">
                @Html.AntiForgeryToken()
                <div class="input-field">
                    <i class="ri ri-mail-line prefix"></i>
                    <input id="txtEmail" name="Email" type="email" class="validate" value="@Model.Email" required />
                    <label for="txtEmail">@await T.GetAsync("ForgotPassword.EmailLabel")</label>
                </div>
                <button type="submit" class="btn blue darken-3 waves-effect waves-light" style="width:100%;">
                    @await T.GetAsync("ForgotPassword.Submit")
                </button>
            </form>
        }

        <div class="center-align mt-3">
            <a asp-area="Applicant" asp-page="/Login" class="blue-text">
                &larr; @await T.GetAsync("ForgotPassword.BackToLogin")
            </a>
        </div>
    </div>
</div>
